In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/tripadvisor_merged.csv')

In [4]:
df.head()

,Unnamed: 0,Address,Description,FeatureCount,Fee,Langtitude,Latitude,LengthOfVisit,MuseumName,PhoneNum,...,review_pol_var,review_pol_mean,review_pol_max,review_pol_min,review_sub_var,review_sub_mean,review_sub_max,review_sub_min,descri_pol,descri_sub
0,0,"555 Pennsylvania Ave NW, Washington DC, DC 200...",Find out for yourself why everyone is calling ...,3.0,Yes,-77.019235,38.893138,2-3 hours,Newseum,+1 888-639-7386,...,0.023760,0.334677,0.611111,0.000000,0.014521,0.509036,0.754861,0.342857,0.490000,0.506667
1,4,"1000 5th Ave, New York City, NY 10028-0198",At New York City's most visited museum and att...,12.0,Yes,-73.962928,40.779166,2-3 hours,The Metropolitan Museum of Art,1 212-535-7710,...,0.018057,0.318339,0.634375,0.127083,0.018280,0.537971,0.700000,0.291667,0.318182,0.477273
2,5,"945 Magazine Street, New Orleans, LA 70130-3813","Founded by historian and author, Stephen Ambro...",11.0,NaN,-90.070086,29.943004,NaN,The National WWII Museum,+1 504-528-1944,...,0.010222,0.333493,0.500000,0.140783,0.019100,0.508205,0.804861,0.333333,0.000000,0.000000
3,6,"2001 N Colorado Blvd, Denver, CO 80205-5798",The Denver Museum of Nature & Science is the R...,0.0,NaN,-104.941020,39.769189,NaN,Denver Museum of Nature & Science,303-370-6000,...,0.022625,0.429964,0.664286,0.192262,0.014845,0.584561,0.783333,0.438095,0.100000,0.400000
4,7,"111 S Michigan Ave, Chicago, IL 60603-6488","This Classical Renaissance structure, guarded ...",5.0,Yes,-87.623724,41.879547,More than 3 hours,Art Institute of Chicago,312 443 3600,...,0.030203,0.299117,0.681333,0.125000,0.025380,0.530728,0.788333,0.266667,0.300000,0.337500

In [7]:
print(df.Description[5])

The National September 11 Memorial & Museum is a place of remembrance honoring those who perished in the terrorist attacks of September 11, 2001 and February 26, 1993.

In [9]:
print(df.columns)

Index(['Unnamed: 0', 'Address', 'Description', 'FeatureCount', 'Fee',
       'Langtitude', 'Latitude', 'LengthOfVisit', 'MuseumName', 'PhoneNum',
       ...
       'review_pol_var', 'review_pol_mean', 'review_pol_max', 'review_pol_min',
       'review_sub_var', 'review_sub_mean', 'review_sub_max', 'review_sub_min',
       'descri_pol', 'descri_sub'],
      dtype='object', length=224)

In [10]:
df.shape

(1603, 224)