# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [2]:
cur.execute('''
SELECT firstName,lastName FROM employees JOIN offices using(officeCode) WHERE city = 'Boston';
       
''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

  firstName   lastName
0     Julie   Firrelli
1     Steve  Patterson


## Do any offices have no employees?

In [3]:
cur.execute('''
SELECT city FROM offices LEFT JOIN employees using(officeCode);
       
''')
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df.head()

            city
0  San Francisco
1  San Francisco
2  San Francisco
3  San Francisco
4  San Francisco

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [8]:
cur.execute('''SELECT firstName,lastName, productName
            FROM employees e
            join
            customers c
                on e.employeeNumber = c.salesRepEmployeeNumber
            join
            orders 
                using (customerNumber)
            join
            orderdetails
                using (orderNumber)
            join
            products
                using (productCode)
       
''')
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df.head()# Your code here

  firstName  lastName                                  productName
0    Leslie  Jennings                               1958 Setra Bus
1    Leslie  Jennings                       1940 Ford Pickup Truck
2    Leslie  Jennings                      1939 Cadillac Limousine
3    Leslie  Jennings  1996 Peterbilt 379 Stake Bed with Outrigger
4    Leslie  Jennings                            1968 Ford Mustang

## Level Up: Display the Number of Products each Employee Has sold

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!