## Summative Lab - ETL Project

### 1) Connecting to SQL database and extracting relevant data

In [55]:
import sqlite3
import pandas as pd
connection = sqlite3.connect('database.sqlite')
cur = connection.cursor()

In [56]:
cur.execute(' SELECT * FROM Teams_in_Matches;')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head(10)

Number of results: 49148

   Match_ID  Unique_Team_ID
0         1              26
1         1              46
2         2              26
3         2              42
4         3              26
5         3              44
6         4              29
7         4              44
8         5              29
9         5              49

In [57]:
cur.execute(' SELECT * FROM Matches WHERE season = 2011 ;')
df_wl = pd.DataFrame(cur.fetchall())
df_wl.columns = [i[0] for i in cur.description]
print('Number of results:', len(df_wl))
df_wl.head()

Number of results: 992

   Match_ID Div  Season        Date   HomeTeam       AwayTeam  FTHG  FTAG FTR
0      1092  D1    2011  2012-03-31   Nurnberg  Bayern Munich     0     1   A
1      1093  D1    2011  2011-12-11  Stuttgart  Bayern Munich     1     2   A
2      1094  D1    2011  2011-08-13  Wolfsburg  Bayern Munich     0     1   A
3      1095  D1    2011  2011-11-27      Mainz  Bayern Munich     3     2   H
4      1096  D1    2011  2012-02-18   Freiburg  Bayern Munich     0     0   D

In [58]:
df_wl.loc[df_wl['FTR']=='A','winning_team'] = df_wl['AwayTeam']
df_wl.loc[df_wl['FTR']=='H','winning_team'] = df_wl['HomeTeam']
df_wl.loc[df_wl['FTR']=='A','losing_team'] = df_wl['HomeTeam']
df_wl.loc[df_wl['FTR']=='H','losing_team'] = df_wl['AwayTeam']
df_wl.head(20)

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,winning_team,losing_team
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,Bayern Munich,Nurnberg
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,Bayern Munich,Stuttgart
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,Bayern Munich,Wolfsburg
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,Mainz,Bayern Munich
4,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,NaN,NaN
5,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H,M'gladbach,Bayern Munich
6,1098,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D,NaN,NaN
7,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A,Bayern Munich,Werder Bremen
8,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A,Bayern Munich,Schalke 04
9,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H,Hannover,Bayern Munich
10,1102,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D,NaN,NaN
11,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H,Leverkusen,Bayern Munich
12,1104,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A,Bayern Munich,Kaiserslautern
13,1105,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A,Bayern Munich,Hertha
14,1106,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A,Bayern Munich,Augsburg
15,1107,D1,2011,2012-05-05,FC Koln,Bayern Munich,1,4,A,Bayern Munich,FC Koln
16,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H,Dortmund,Bayern Munich
17,1109,D1,2011,2011-08-27,Leverkusen,Dortmund,0,0,D,NaN,NaN
18,1110,D1,2011,2011-12-17,Freiburg,Dortmund,1,4,A,Dortmund,Freiburg
19,1111,D1,2011,2012-02-18,Hertha,Dortmund,0,1,A,Dortmund,Hertha

In [74]:
df_1 = df_wl['winning_team'].value_counts()
df_1.head()

Man United       28
Man City         28
Dortmund         25
Bayern Munich    23
Arsenal          21
Name: winning_team, dtype: int64

In [75]:
df_2 = df_wl['losing_team'].value_counts()
df_2.head()

Wolves       23
Blackburn    23
Bolton       22
QPR          21
FC Koln      20
Name: losing_team, dtype: int64

In [72]:
final_df = pd.DataFrame(data=dict(s1=df_1, s2=df_2), index=df_1.index)

In [76]:
final_df.tail(25)

                s1  s2
Sunderland      11  15
Werder Bremen   11  14
Bolton          10  22
Bochum          10  17
Braunschweig    10   9
Freiburg        10  14
Hoffenheim      10  13
QPR             10  21
Duisburg        10  15
Mainz            9  13
Karlsruhe        9  19
Cottbus          8  15
Erzgebirge Aue   8  15
Ingolstadt       8  13
FC Koln          8  20
Augsburg         8  12
Blackburn        8  23
Hamburg          8  14
Hertha           7  17
Aston Villa      7  14
Frankfurt FSV    7  13
Aachen           6  15
Hansa Rostock    5  17
Wolves           5  23
Kaiserslautern   4  19

In [28]:
cur.execute(' SELECT * FROM Teams_in_Matches JOIN Matches USING (Match_ID) WHERE season = 2011 ;')
df_wl = pd.DataFrame(cur.fetchall())
df_wl.columns = [i[0] for i in cur.description]
print('Number of results:', len(df_wl))
df_wl.head(20)

Number of results: 1984

,Match_ID,Unique_Team_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,1,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1092,22,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
2,1093,1,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
3,1093,17,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
4,1094,1,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
5,1094,7,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
6,1095,1,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
7,1095,11,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
8,1096,1,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D
9,1096,16,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D
10,1097,1,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H
11,1097,6,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H
12,1098,1,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D
13,1098,12,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D
14,1099,1,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A
15,1099,13,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A
16,1100,1,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A
17,1100,5,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A
18,1101,1,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H
19,1101,18,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H

In [5]:
cur.execute(' SELECT * FROM unique_teams;')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print('Number of results:', len(df))
df.head()

Number of results: 128

        TeamName  Unique_Team_ID
0  Bayern Munich               1
1       Dortmund               2
2     Leverkusen               3
3     RB Leipzig               4
4     Schalke 04               5